version: '3'

services:
  db:
    image: fernandogeneroso/db:fullcycle
    command: --innodb-use-native-aio=0
    container_name: db
    restart: always
    tty: true
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root
    networks:
      - node-network
  app:
    image: fernandogeneroso/app:fullcycle
    build:
      context: node
    container_name: app
    networks:
      - node-network
    volumes:
      - ./node:/usr/src/app
    tty: true
    expose:
      - 3000
    ports:
      - "3000:3000"
    entrypoint: ["node", "index.js"]
    depends_on:
      - db
  nginx:
    build:
        context: nginx
    image: fernandogeneroso/nginx:fullcycle
    container_name: nginx
    ports:
        - "8080:80"
    networks: 
        - node-network
    depends_on:
        - "app"

networks:
  node-network:
    driver: bridge
