version: '3'

services:
  db:
    image: fernandogeneroso/db:fullcycle
    command: --innodb-use-native-aio=0
    container_name: db
    restart: always
    tty: true
    volumes: 
      - ./mysql/db:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root
    networks:
      - node-network
    depends_on:
      - app
  app:
    image: fernandogeneroso/app:fullcycle
    build:
      context: node
    container_name: app
    networks:
      - node-network
    volumes:
      - ./node:/usr/src/app
      - /usr/src/app/node_modules
    tty: true
    expose:
      - 3000
    ports:
      - "3000:3000"
  nginx:
    build:
        context: nginx
    image: fernandogeneroso/nginx:fullcycle
    container_name: nginx
    ports:
        - "8080:80"
    networks: 
        - node-network
    depends_on:
        - app

networks:
  node-network:
    driver: bridge